.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart-items h2 {
  margin-top: 0;
}

.cart-items form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.cart-items input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.cart-items button {
  padding: 0.5rem;
}

.cart-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.cart-items .clear-button {
  margin-top: 1rem;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.home-container {
  display: flex; /* Use flexbox */
}

.left-side {
  flex: 0.5; /* Take up remaining space */
}

.right-side {
  flex: 1; /* Adjust the value to control the width of the right side */
  margin-left: 30px; /* Add some spacing between the left and right sides */
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.item-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.item-card p {
  margin: 5px 0;
}

.item-card p.name {
  font-weight: bold;
}

.item-card p.price {
  color: #888;
}

