.cart-container {
  display: flex;
  justify-content: flex-end;
}

.cart-items {
  flex: 0.5;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid orange;
  border-radius: 4px;
  background-color: lavender;
}

.cart-items h2 {
  justify-content: center;
  margin-top: 0;
}

.cart-items form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.cart-items input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.cart-items button {
  padding: 0.5rem;
}

.cart-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.cart-items .clear-button {
  margin-top: 1rem;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.home-container {
  display: flex; 
}

.left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
}

.right-side {
  flex: 1; 
  margin-left: 5px;
  
}

.right-side h2 {
  display: flex;
  justify-content: center;
}

.item-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.item-card img {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 5px;
}

.item-card p {
  margin: 3px 0;
  text-align: center;
}

.item-card p.name {
  font-weight: bold;
  margin-bottom: 5px;
}

.item-card p.price {
  margin-top: auto;
  margin-bottom: 0;
  color: #888;
}

.item-table {
  border-collapse: collapse;
  width: 100%;
}

.category {
  border-bottom: 1px solid #000;
}

.item-card button {
  margin-top: auto;
}
